<table>
  <thead>
    <tr>
      <th (click)="setSortField('id')">ID</th>
      <th (click)="setSortField('make')">Make</th>
      <th (click)="setSortField('model')">Model</th>
      <th (click)="setSortField('year')">Year</th>
      <th (click)="setSortField('color')">Color</th>
      <th (click)="setSortField('price')">Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of sortedCars">
      <tr class="view-car-row" 
        *ngIf="carEditId != car.id"  
        [car]="car"
        (removeCar)="removeCar.emit($event)"
        (editCar)="editCar.emit($event)">
      </tr>
      <tr class="edit-car-row" 
        *ngIf="carEditId == car.id"
        (updateCar)="updateCar.emit($event)"
        (cancelEdit)="cancelEdit.emit()"
        [car]="car">
      </tr>
    </ng-container>
  </tbody>
</table>
