<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of cars">
      <tr class="view-car-row" 
        *ngIf="carEditId != car.id"  
        [car]="car"
        (removeCar)="removeCar.emit($event)"
        (editCar)="editCar.emit($event)">
      </tr>
      <tr class="edit-car-row" 
        *ngIf="carEditId == car.id"
        (updateCar)="updateCar.emit($event)"
        (cancelEdit)="cancelEdit.emit()"
        [car]="car">
      </tr>
    </ng-container>
  </tbody>
</table>
